name: ETL pipeline demo

on:
  push:
    branches:
      - main

jobs:
  extract-data:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: show python version 
        run: python --version
      - name: install pandas dependancy
        run: pip install pandas
      - name: run extract.py
        run: python extract.py 
  
  transform-data:
    runs-on: ubuntu-latest
    needs: extract-data
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: show python version 
        run: python --version
      - name: run transform.py
        run: python transform.py
  
  load-data:
    runs-on: ubuntu-latest
    needs: transform-data
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: show python version 
        run: python --version
      - name: run load.py
        run: python load.py